@import '../../c_common.scss';

#board {
    min-width: 1024px;
    width: 90vw;

    #board-header {
        background-color: #ee6c4d;
        border-radius: 16px;
        box-shadow: 15px 15px 30px #092944;
        color: #fff;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;

        h2, .logout {
            margin: 24px;
        }

        .user {
            align-items: center;
            display: flex;
        }
    }

    #board-grid {
        display: grid;
        flex: 1;
        gap: 36px;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        margin-bottom: 24px;
        margin-top: 24px;

        .column {
            background-color: #fff;
            border-radius: 16px;
            box-shadow: 15px 15px 30px #1d1e3b;
            min-height: 80vh;

            h4 {
                padding: 12px;
                margin: 0;
            }

            .btn-stop {
                border-bottom-color: #ff4742;
            }

            .btn-start {
                border-bottom-color: #fff94d;
            }

            .btn-done {
                border-bottom-color: #49ff5e;
            }

            &.todo {

                .add-task {
                    margin: 12px;
                }

                .card {
                    border-bottom: 5px solid #ff4742;
                    outline: 1px solid $border-color;
                }
            }

            &.wip {
                .card {
                    border-bottom: 5px solid #fff94d;
                    outline: 1px solid $border-color;
                }
            }

            &.done {
                .card {
                    border-bottom: 5px solid #49ff5e;
                    outline: 1px solid $border-color;
                }
            }
        }
    }

    #spinner-slot {
        bottom: 0;
        left: 0;
        padding: 36px;
        position: fixed;

        .card {
            background-color: rgba(255, 255, 255 , 90%);
            box-shadow: none;
            min-height: auto;
            padding: 12px;
        }

        .spinner-container {
            display: flex;
            flex-direction: row;
            
            .spinner {
                height: 30px;
                margin-right: 16px;
                width: 30px;
            }
        }
    }
}