@import './c_common.scss';

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    height: 32px;
    padding: 8px;
    width: -webkit-fill-available;

    &.error  {
        border-color: $error-color;
    }

    &:focus-visible {
        box-shadow: 7px 7px 15px #bebebe;
        border: 1px solid $primary-color;
        outline: none;
        transform: translate(-1px, -1px);
    }
}

header {
    &.actions {
        display: flex;
        gap: 6px;
        justify-content: flex-end;
    }
}

footer {
    &.actions {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
    padding-bottom: 36px;

    .error-message {
        color: $error-color;
        text-align: end;
        width: 100%;
    }

    .form-row {
        .label, .field {
            width: 100%;
        }
    }
}

button {
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 500;
    font-size: 1em;
    padding: 0.6em 1.2em;

    &:hover {
        box-shadow: 3px 3px 7px #5c5c5c;
        transform: translate(-2px, -2px);
    }

    &:active {
        box-shadow: none;
        transform: translate(2px, 2px);
    }

    &.btn-primary {
        background-color: $primary-color;
    }

    &.btn-secondary {
        background-color: $secondary-color;
        color: #383838;
    }

    &.btn-error {
        background-color: $error-color;
    }

    &.btn-link {
        background-color: #fff;
        border-bottom: 4px solid $primary-color;
        border-radius: 0;
        color:#383838;

        &:hover {
            box-shadow: 3px 3px 7px #bebebe;
            transform: translate(-1px, -1px);
        }

        &:active {
            transform: translate(1px, 1px);
            box-shadow: none;
        }
    }
}