@import '../../c_common.scss';

.toaster {
    display: flex;
    align-items: center;
    color: #fff;
    position: fixed;
    left: 36px;
    bottom: 36px;
    min-width: 50px;
    min-height: 36px;
    padding: 12px 36px;
    border-radius: 8px;
    box-shadow: 15px 15px 30px #5c5c5c;

    &.success {
        background-color: $primary-color;
    }
    &.error {
        background-color: $error-color;
    }
}